html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,h2,h3,h4,h5,h6{
  margin: 0;
}

body {
  color: #929292;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
}

.container {
  max-width: 1130px;
  margin: 0 auto;
  padding: 0 15px;
}

a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn {
  padding: 18px 41px;
  border-radius: 25px;
  background-color: #fc5f45;
  color: $white;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  transition: all .2s linear;
  &:hover{
    filter: contrast(150%);
  }
}

.sub-title {
  padding-top: 140px;
  text-align: center;

  h2 {
    color: #313131;
    font-family: $sub-fonts;
    font-size: 50px;
    font-weight: 700;
  }

  p {
    color: #616161;
  }
}

//Burger-menu
.burger{
  display: none;
  position: absolute;
  right: 20px;
  top: 30px;
  cursor: pointer;
  background: #313131;
  background-clip: content-box;
  width: 30px;
  height: 24px;
  border-top: 11px solid transparent;
  border-bottom: 11px solid transparent;
  transform: rotate(0deg);
  transition: all 0.25s ease-in-out;
  &:before,
  &:after {
      content: "";
      position: absolute;
      background: #313131;
      height: 2px;
      width: 100%;
      right: 0;
      will-change: rotate;
      transform: rotate(0deg);
      transition: all 0.5s ease;
  }
  &:before {
      top: -10px;
  }
  &:after {
      bottom: -10px;
      width: 100%;
  }
  &.active {
      background: transparent;
      background-clip: content-box;
  }
  &.active:before {
      transform: rotate(135deg);
      top: 0;
      background: #fff;
      width: 110%;
  }
  &.active:after {
      bottom: 0;
      transform: rotate(-135deg);
      background: #fff;
      width: 110%;
  }
}

@keyframes fadeInRight {
  0% {
      opacity: 0;
      left: 50px;
  }
  100% {
      opacity: 1;
      left: 0;
      transform: rotate(0deg);
  }
}


@keyframes anim-1 {
  0% {
    transform: translateX(-3000px);
  }

  100% {
    transform: translateX(0);
  }
}


